
/* 
    Created on : July 28, 2017, 2:30:59 PM
    Author     : EvyHernyta
*/
html,body{
    min-height:100%;
    background-color: rgba(232, 232, 232,0.2);
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
header{
    box-shadow: 0 4px 2px -2px #034f84;
    margin-bottom: 0.15rem;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 50%;
    padding: 0.75rem 1rem;
    border: 2px solid #fff;
    background-color: rgba(2, 145, 202, 1);
    color: white;
}

.back-to-top:visited, .back-to-top:hover
{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 50%;
    padding: 0.75rem 1rem;
    border: 2px solid #fff;
    background-color: rgba(2, 145, 202, 1);
    color: white;
}

.dark-primary-color{
    background-color: rgba(0, 0, 102, 1);
    color: #ffffff; 
}

.primary-color{
    background-color: rgba(44, 22, 105,1);
    color:#ffffff;
}

.secondary-color{
    background-color: #034f84;
    color: #ffffff;
}

.primary-text-color{
    color: #202020; 
}

.dark-primary-text-color{
    color: #002020; 
}
.tertiary-color{
    background-color: rgba(0, 0, 102, 0.85);
    color: #ffffff;
}

.accent-color{
    background-color: rgba(0, 0, 102, 0.45);
    color: #ffffff;
}

.subheader{
    /*background-color: rgba(0, 0, 102,1);*/
    /* background-color: rgba(62, 39, 128,1); */
    background-color: rgba(2, 145, 202, 1);
    /*background-color: rgba(66, 134, 244,0.5);*/
    text-align: center;
    z-index: 1;
    line-height: 1.5;
}

.sublink{
    color: #ffffff;
    padding: 5px 5px;
    font-size: 10pt;
}
.sublink:hover{
    background-color: #ffffff;
    color: rgba(2, 145, 202, 1);
    text-decoration: none;
}

.sublink:focus{
    background-color: #ffffff;
    color: rgba(2, 145, 202, 1);
    text-decoration: none;
}

.sublink-inverse{
    color: rgba(2, 145, 202, 1);
    padding: 5px 5px;
    font-size: 10pt;
    font-weight:bold;
    background-color: #ffffff;
}
.sublink-inverse:hover{
    background-color: rgba(2, 145, 202, 1);
    color: #ffffff;
    text-decoration: none;
}

.sublink-inverse:focus{
    background-color: rgba(2, 145, 202, 1);
    color: #ffffff;
    text-decoration: none;
}

.sublink-text{
    color: #ffffff;
    padding: 5px 5px;
    font-size: 10pt;
}

.sublink-text + .sublink-text{
    color: #ffffff;
    padding: 5px 5px;
    border-left-color: rgba(232, 232, 232, 1);
    border-left-width: thin;
    border-left-style: solid;
}

.mainheader{
    background-color: rgba(232, 232, 232, 0.1);
    color: #002020;
}

.wrapper{
    min-height: 100%;
    background-color: rgba(232, 232, 232,0.2);
}

.navbar-brand {
    padding: 0;
}

.menulink{
    padding: 0 3rem;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: rgba(0, 0, 102, 1);
    z-index: 1;
    font-size: 80%;
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(44, 22, 105,1);
    text-align: right;
}

.navbar-toggler-right{
    margin-top: 1.5rem;
    padding-bottom: 0;
}

.dd-fw{
    min-width: 100%;
    clear: both;
    overflow: hidden;

}

.dropdown-item{
    white-space: normal;
    font-size: 9pt;
}

.dd-megamenu{
    position: static !important;
}

.item-head{
    font-weight: bold;
    padding-left: 1.5rem;
    margin-top: .3rem;
}

.item-child{
    padding-left: 2.5rem;
}

.dd-one-col{
    min-width: 16rem;
    margin-top: 2rem;
}

.dd-two-col{
    min-width: 30rem;
    margin-top: 2rem;
}

.dd-three-col{
    min-width: 45rem;
    margin-left: 20rem;
}

.dropdown-menu{
    line-height: 1rem;
    font-size: 11pt;
    border-radius: 0;
}

.dropdown-divider{
    margin:0;
}

.carousel-item.active {
    display:block;
}

.carousel-item {
    /*    height: 60vh;*/
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item > .img-fluid{
    width: 100%;
}

.quotes{
    display: block;
    color:#fff;
    font-size: 10pt;
}
.quotes::before{
    content: "\201C ";
    font-size: 25px;
}

.quotes::after{
    content: "";
}

.quoted-from::before{
    content: "\2014";
    font-size: 10px;
    font-weight: bold;
}
.quoted-from::after{
    content: "";
}

.quoted-from{
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    padding-top: 2rem;
}

.carousel-picture-slide{
    width: 100%;
}

.subtitle{
    font-size: 16pt;
    color: #ffffff;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    text-shadow: -0.5px -0.5px #666, 0.5px 0.5px #fff;
}

.event-berita{
    margin-top: 1rem;
}

.berita-title{
    font-size: 16pt;
    color: rgba(0, 0, 102, 1);
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgba(0, 0, 102, 1);
    margin-bottom: 1rem;
}

.event-title{
    font-size: 16pt;
    color: rgba(0, 0, 102, 1);
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgba(0, 0, 102, 1);
    margin-bottom: 1rem;
}

.article-title{
    font-size: 16pt;
    color: rgba(0, 0, 102, 1);
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgba(0, 0, 102, 1);
    margin-bottom: 1rem;
}

.custom-title{
    font-size: 16pt;
    color: rgba(0, 0, 102, 1);
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgba(0, 0, 102, 1);
    margin-bottom: 1rem;
}

.custom-large-title{
    font-size: 16pt;
    color: rgba(0, 0, 102, 1);
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgba(0, 0, 102, 1);
    margin-bottom: 1rem;
}

.event-body{
    padding-left: 0px;
    padding-right:5px;
}

.event-item{
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
}

.item-event-title{
    font-size: 10pt;
    font-weight: normal;
    color:rgba(0, 0, 102, 1);
    padding: 0 0.1rem;
}

.item-event-title:hover{
    text-decoration: none;
}

.thumb-calendar-event{
    height:80px;
    width: 80px;
    background-color: rgba(0, 0, 102, 0.85);
    position:relative !important;
    border: thin solid #fff;
    line-height: normal;
    overflow: hidden;

}
.thumb-calendar-event:last-child {
    margin-bottom: 0;
}
/*
.thumb-calendar-event:before, .thumb-calendar-event:after {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 58px;
    right: 0;
    content: "";
}
.thumb-calendar-event:before {
    border-top: solid 10px transparent;
    border-right: solid 10px rgba(232, 232, 232,1);
    border-left: solid 10px transparent;
    border-bottom: solid 10px rgba(232, 232, 232,1);
}
.thumb-calendar-event:after {
    border-bottom: solid 10px transparent;
    border-left: solid 10px rgba(0, 0, 102, 1);
    border-top-left-radius: 5px;
    border-right: solid 10px transparent;
    border-top: solid 10px rgba(0, 0, 102, 1);
    box-shadow: -1px 1px 3px #212835;
}
*/
.thumb-calendar-short-date{
    height:0px;
    width: 80px;
    color: #fff;
    font-size: 10pt;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.thumb-calendar-short-date p{
    margin:0;
}

.thumb-calendar-short-date .thumb-month{
    font-weight: bold;
    border-bottom: thin double #fff;
}
.thumb-calendar-short-date .thumb-date{
    height:10px;
    font-size: 30pt;
}

.event-end{
    position:absolute;
    margin-bottom: 1rem;
    float: right;
    bottom:0;
    right:0;
}

.berita-top{
    margin-bottom: 1rem;
}

.berita-end{
    margin-bottom: 1rem;
    float: right;
}

.custom-large-end{
    margin-bottom: 1rem;
    position:absolute;
    margin-bottom: 1rem;
    float: right;
    bottom:0;
    right:0;
}

.article-end{
    margin-bottom: 1rem;
    float: right;
}
.mymedia{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.5rem 1rem;
}
.pojokrektor{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    background-color: #fff;
}
.pojokrektor-body{
    background-color: #ccc;
}
.img-rektor{
    width: 220px;
    border-radius: 5px;
}

/*Moved to responsive media breakpoint*/
@media (min-width: 992px) {
    .item-berita-title{
        font-size: 11pt;
        font-weight: normal;
        color:rgba(0, 0, 102, 1);
        padding-right: 0.3rem;
        margin-bottom: 0;
        line-height: 0.5;
    }

    .item-berita-title:hover{
        text-decoration: none;
    }

    .item-berita-subtitle{
        vertical-align: top;
        margin-top: 0;
        padding-top: 0.2rem;
        font-size: 8pt;
        margin-bottom: 0.75rem;
    }
    .rektor-image{
        width: 200px;
    }

    .alumni-image{
        width: 150px;
    }

    .bubble {
        position: inherit;
        bottom: 0;
        padding: 20px;
        margin-bottom: 60px;
        margin-top: 20px;
        background: transparent;
        color: #fff;
        border: thick solid #fff;
        border-radius: 35px;
    }

    /* For the bubble tail */
    .bubble:before {
        content: "";
        position: absolute;
        margin-left: -48px;
        margin-top: 20px;
        border-style: solid;
        border-width: 15px 27px 15px 0;
        border-color:  transparent #fff;
        display: block;
        width: 0;
        z-index: 1;
    }
    .bubble:after {
        content: "";
        position: absolute;
        margin-left: -40px;
        margin-top: -57px;
        border-style: solid;
        border-width: 11px 22px 11px 0;
        border-color:  transparent #027fb1;
        display: block;
        width: 0;
        z-index: 1;
    }

    .list-group-item{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
        padding: 0.75rem 0.75rem 0.25rem;
        color: rgba(0, 0, 102, 0.85);
        font-size: 11pt;
        font-weight: normal;
    }
    .list-group-item:hover, .list-group-item:hover{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
        padding: 0.75rem 0.75rem 0.25rem;
        color: #0275d8;
        font-size: 11pt;
        font-weight: normal;
    }
    .large-container-wrapper{
        min-height: 80vh;
    }
    .small-container-wrapper{
        min-height: 80vh;
    }
    
    .text-quotes-wrapper{
        background-color: #027fb1;
        min-height: 150px;
        overflow: hidden;
        margin: 3.5rem 0 3.5rem;
        box-shadow: 0 4px 2px -2px gray;
    }
    .belt-wrapper{
        background-color: #027fb1;
        min-height: 150px;
        overflow: hidden;
        margin: 3.5rem 0 3.5rem;
        padding-bottom: 1rem;
        box-shadow: 0 4px 2px -2px gray;
    }
    
    .belt-wrapper-testimoni{
        background-image: url("../img/kolase-fix.png");
        background-color: rgba(80, 100, 232, 1);
        margin-bottom: 3rem;
    }
}

@media (min-width: 280px) and (max-width:990px) {
    .item-berita-title{
        font-size: 9pt;
        color:rgba(0, 0, 102, 1);
        padding-right: 0.3rem;
        margin-bottom: 0;
        line-height: 0.5;
    }
    .item-berita-title:hover{
        text-decoration: none;
    }

    .item-berita-subtitle{
        vertical-align: top;
        margin-top: 0;
        padding-top: -10px;
        font-size: 7pt;
        margin-bottom: 0.75rem;
    }

    .card-text{
        font-size: 7pt;
    }
    .dd-two-col{
        min-width: 0;
    }
    .dd-three-col{
        margin-left: 0;
        min-width: 0;
    }
    .img-fluid.card-img-top-sharp{
        min-height: 150px;
        width: inherit;
        overflow: hidden;
    }
    .rektor-image{
        max-width: 200px;
        text-align: center;
    }

    .alumni-image{
        max-width: 200px;
        text-align: center;
    }

    .bubble {
        position: inherit;
        bottom: 0;
        padding: 20px;
        margin-bottom: 60px;
        margin-top: 40px;
        background: transparent;
        color: #fff;
        border: thin solid #fff;
        border-radius: 35px;
    }

    /* For the bubble tail */
    .bubble:before {
        content: "";
        position: absolute;
        margin-left: 45%;
        margin-top: -40px;
        border-style: solid;
        border-width: 0 15px 20px 15px;
        border-color: transparent transparent #fff;
        display: block;
        width: 0;
        z-index: 1;
    }
    .bubble:after {
        content: "";
        position: absolute;
        margin-left: 45%;
        margin-top: -120px;
        border-style: solid;
        border-width: 0 15px 20px 15px;
        border-color: transparent transparent #027fb1;
        display: block;
        width: 0;
        z-index: 1;
    }

    .list-group-item{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
        padding: 0.75rem 0.75rem 0.25rem;
        color: rgba(0, 0, 102, 0.85);
        font-size: 9pt;
        font-weight: normal;
    }
    .list-group-item:hover, .list-group-item:hover{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
        padding: 0.75rem 0.75rem 0.25rem;
        color: #0275d8;
        font-size: 9pt;
        font-weight: normal;
    }
    .img-rektor{
        width: 180px;
        border-radius: 5px;
    }
    .text-quotes-wrapper{
        background-color: #027fb1;
        min-height: 150px;
        overflow: hidden;
        margin: 1rem 0;
        box-shadow: 0 4px 2px -2px gray;
    }
    .belt-wrapper{
        background-color: #027fb1;
        min-height: 150px;
        overflow: hidden;
        margin: 1rem 0;
        padding-bottom: 1rem;
        box-shadow: 0 4px 2px -2px gray;
    }
    
    .belt-wrapper-testimoni{
        background-image: url("../img/kolase-fix.png");
        background-color: rgba(80, 100, 232, 1);
    }
}

.link-next{
    color:rgba(0, 0, 102, 1);
    font-size: 10pt;
    font-style: oblique;
    padding: 0.25rem 0.5rem;
}

.link-next:hover{
    background-color: rgba(0, 0, 102, 1);
    color: rgba(254, 254, 254, 1);
    font-size: 10pt;
    font-style: oblique;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    text-decoration: none;
}

.link-next:focus{
    background-color: rgba(0, 0, 102, 1);
    color: rgba(254, 254, 254, 1);
    font-size: 10pt;
    font-style: oblique;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    text-decoration: none;
}

.sharp-card{
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.sharp-card-transparent{
    border-radius: 0;
    margin-bottom: 0.5rem;
    background-color: transparent;
    border: none;
}

.subfooter{
    border-radius: 0;
}

.sharp-card.card-img-top-sharp{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.img-fluid.card-img-top-sharp{
    height: 150px;
}

.card-text{
    font-size: 10pt;
    line-height: 1.5;
}

.card-block-berita{
    height: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.footer{
    height: 5rem;
    text-align: center;
    padding-top: 2rem;
}

.sublink-text-inverse{
    color: #ffffff;
    font-size: 10pt;
    padding:0 0.5rem;
}
.sublink-text-inverse:hover{
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
    color: rgba(0, 0, 102, 1);
    background-color: #fff;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.sublink-text-inverse:focus{
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
    color: rgba(0, 0, 102, 1);
    background-color: #fff;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.big-link{
    display: inline-block;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 102, 0.85);
    padding: 0.8rem;
    margin: 0 0.75rem 0.75rem;
    text-align: center;
    color: rgba(0, 0, 102, 0.85);
    border-radius: 5px;
    background-color:#fff;
    height:110px;
    width: 120px;
}

.big-link:hover{
    color: #ffffff;
    background-color: rgba(0, 0, 102, 0.85);
}

.big-link:focus{
    color: #ffffff;
    background-color: rgba(0, 0, 102, 0.85);
}

.big-link span {
    display: inline-block;
    font-size: 9pt;
    margin-top: 5px;
    padding: 0 0.5rem;
}

/*This is the beginning of single page styling*/
.page-title{
    font-size: 16pt;
    font-weight: bolder;
    padding: 2rem 0 0 0;
    color: rgba(0, 0, 102, 1);
}
.page-title-u{
    font-size: 16pt;
    color: rgba(0, 0, 102, 1);
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: rgba(0, 0, 102, 1);
    margin: 2rem 0;
}
.page-subtitle{
    font-size: 13pt;
    font-weight: bolder;
    padding:0;
    color: rgba(0, 0, 102, 1);
}

.page-subtitle-u{
    font-size: 13pt;
    font-weight: bolder;
    padding:0;
    color: rgba(0, 0, 102, 1);
    border-bottom: solid medium rgba(0, 0, 102, 1);
}

.page-content{
    font-size: 10pt;
    line-height: 1.5rem;
    color: #002020;
    font-weight: normal;
    min-height:60vh;
    /*        background-color: rgba(0, 0, 102, 0.1);*/
    padding: 2rem 0 4rem 0;
}

.small-sections{
    padding-top: 4rem;
}

.sidebar-sections{
    padding-top: 0;
}

.sidebar-content{
    font-size: 10pt;
    line-height: 1.5rem;
    color: #002020;
    font-weight: normal;
    min-height:60vh;
    padding: 0 0 4rem 0;
}

.berita-thumb-images{
    padding: 2rem 2rem;
}
.berita-last-update{
    padding-top: 0.3rem;
    font-size: 8pt;
}
.page-image{
    padding: 0 0 1rem 0;
}
.social-media-sharing{
    padding-bottom: 1rem;
}
.sub-u{
    font-size: 11pt;
    font-weight: normal;
    padding:0.5rem 0;
    color: rgba(0, 0, 102, 0.45);
    /*    color: rgba(0, 0, 102, 1);*/
    text-decoration: underline;
}
.mod-facebook{
    color: #3B5998;
}
.mod-twitter{
    color: #55ACEE;
}
.fa:hover{
    opacity: 0.7;
}

/*Tag begin*/
.tag{
    white-space:nowrap;
    position:relative;
    margin:0 5px 2px 10px;
    display:inline-block;
    height:25px;
    border-radius: 0 5px 5px 0;
    padding: 0 25px 0 15px;
    background:#E8EDF0;
    border: 1px solid #C7D2D4;
    color:#999;
    line-height:23px;
    font-size: 11px;
}
.tag:after{
    position:absolute;
    right:0;
    margin:1px 7px;
    font-weight:bold;
    font-size:10pt;
}
.tag:before{
    position:absolute;
    background:#E8EDF0;
    content:"\25CF";
    color:white;
    text-shadow: 0 0 1px #aaa;
    font-size:10px;
    line-height:13px;
    text-indent:6px;
    top:3px;
    left:-10px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border-left:1px solid #C7D2D4;
    border-bottom:1px solid #C7D2D4;
}
/*Tag ended*/

.thumb-calendar-event-o{
    height:64px;
    width: 64px;
    background-color: rgba(0, 0, 102, 0.85);
    position:relative !important;
    border: thin solid #fff;
    line-height: normal;
    overflow: hidden;
    border-radius: 50%;
}
.thumb-calendar-short-date-o{
    height:0px;
    width: 64px;
    color: #fff;
    font-size: 10pt;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.thumb-calendar-short-date-o p{
    margin:0;
}

.thumb-calendar-short-date-o .thumb-month{
    font-weight: lighter;
}
.thumb-calendar-short-date-o .thumb-date{
    padding-top: 10px;
    height:35px;
    font-size: 20pt;
    font-weight: bold;
}

.breadcrumb a{
    font-size: 10pt;
    color: rgba(0, 0, 102, 1);
}
.breadcrumb a:hover{
    color: rgba(0, 0, 102, 0.45);
    text-decoration: none;
}

.about-author{
    padding: 2rem 0;
}
.author-name{
    font-size: 11pt;
    font-weight: bold;
    color:rgba(0, 0, 102, 1);
    padding-right: 0.3rem;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
}
.author-bio{
    font-size: 10pt;
    padding-right: 0.3rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    text-align: justify;
    font-style: normal;
    line-height: 1.5;
}
.article-created-on{
    vertical-align: top;
    margin-top: 0;
    padding-top: 0.2rem;
    font-size: 8pt;
    margin-bottom: 0.75rem
}

.calendar-title{
    text-align: center;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.fc-center{
    padding: 2rem 0 0 0;
    color: rgba(0, 0, 102, 1);
}

.fc-center h2{
    font-size: 12pt;
    font-weight: bolder;
}

.fc-sun{
    color: red;
}

.fc-event{
    background-color: rgba(0, 0, 102, 0.85);
    color: #fff !important;
    border: 1px solid rgba(0, 0, 102, 0.45);
}

img.wrap-right {float: right; margin: 0.2rem;}
img.wrap-left {float: left;margin: 0.2rem;}

.my-img-thumbnail {
    width : 80px;
}

.img-thumbnail{
    background-color: transparent;
    border-color: transparent;
}

.testimonials-v-2 {
    padding: 100px 0;
    overflow: hidden;
}

.testi-slide {
    text-align: center;
}

.testi-slide img {
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.testi-slide p {
    margin: 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
}

.testi-slide i {
    color: #32c5d2;
    margin-right: 10px;
}

.testi-slide h4 {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.testi-slide .flex-control-paging li a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
    border: 2px solid #ccc;
    width: 8px;
    height: 8px;
}

.testi-slide .flex-control-paging li a.flex-active {
    background: transparent !important;
    border: 2px solid #32c5d2;
}

.quote {
    position: relative;
}

.quote blockquote {
    padding: 0px;
    border: 0;
    margin: 0;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.quote blockquote p {
    color: #fff;
    padding-top: 25px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 8pt;
    line-height: 1.5;
}

.quote blockquote:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 90px;
    width: 0;
    height: 0;
    border-top: 0.83333em solid rgba(0, 95, 148, 1);
    border-right: 0.86667em solid transparent;
}


.quote.dark blockquote {
    background-color: rgba(0, 75, 128, 0.7);
}

.quote.dark blockquote:before {
    border-top-color: rgba(0, 75, 128, 0.7);
}

.quote-footer {
    margin: 10px 0;
}

.quote-footer .quote-author-img img {
    float: left;
    max-width: 90px;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    padding: 5px;
    background-color: #fff;
}

.quote-footer h4 {
    font-size: 14px;
    margin-bottom: 4px;
    color: #fff;
}

.quote-footer p {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.not-found{
    background-color: rgba(2, 145, 202, .85);
    height: 68vh;
}
.not-found-title{
    font-family: 'Corben', cursive;
    color: #fff;
    font-size: 28pt;
    font-weight: bold;
    line-height: 1.5;
}

.margin-btm-20{
    margin-bottom: 1rem;
}
.list-group{
    padding-bottom: 1rem;
}

/*beginning summernote styling adapted to bootstrap 4*/

.table-bordered{

}

.table-bordered tbody{
    line-height: 1;
}

/*end summernote styling*/

.middle-centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*modify font awesome*/
.fa-li{
    left:-1em;
}